<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Thanks for checking out my website! I'm building this to learn more about HTML, CSS and programming in general. As you glance around you'll see that I have a long way to go! If you would like to contact me, please use <a href="https://www.linkedin.com/in/larsjx">LinkedIn</a> as my email form is not yet working.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                        <!-- fa-download is another good image for this -->
                    </span>
                    <h4 class="service-heading">Software Sales</h4>
                    <p class="text-muted">After graduating from the University of Minnesota, I began my career as a sales person for an enterprise messaging startup called St. Paul Software. As the top sales person, I helped create a reseller network before I was recruited to Chicago where I helped launch, sell and deliver a number of IBM's Internet services.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Services</h4>
                    <p class="text-muted">At IBM, my primary roles were in: complex solution design and delivery, technical sales management, and project management. I also created global client satisfaction programs for 2 different divisions before becoming an internal strategy consultant and project manager with IBM Global Sales Operations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Personal</h4>
                    <p class="text-muted">My interests range quite a bit from science and technology to hiking, skiing, fly-fishing and music. I am currently participating in a 19 week immersive training program called <a href="http://devbootcamp.com/learn-ruby-javascript/daily-life/">Dev Bootcamp</a>, in which I’m learning as much as I possibly can about programming in that short period of time.</p>
                </div>
            </div>
        </div>
    </section>