<!-- About Section -->
    <section id="background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Background</h2>
                    <h3 class="section-subheading text-muted">I've been involved in computers my entire life and a few highlights are listed here.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bkgd/lej.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Current</h4>
                                    <h4 class="subheading">Independent Contractor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I recently created a web-based education management system for a company that specializes in providing high quality IT development, consulting, and support services to the DOD and other government agencies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bkgd/hq.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003-2009</h4>
                                    <h4 class="subheading">IBM Headquarter Roles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I ran global client satisfaction programs for two divisions before becoming an internal strategy consultant and leading a worldwide project to streamline sales process, increase revenue, and reduce cost. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bkgd/net.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1994-2003</h4>
                                    <h4 class="subheading">IBM Internet Services Roles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I helped launch IBM's global Internet service and ran a lab for identifying new technologies and partnerships. I also established the Systems Engineering teams responsible for building custom e-business solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bkgd/edi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1990-1993</h4>
                                    <h4 class="subheading">Enterprise Messaging Sales</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I jumpstarted St. Paul Software's e-commerce service bureau and quickly became their top producing salesperson. I led the company in UNIX EDI sales and developed an active reseller program.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bkgd/mac.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pre-1990</h4>
                                    <h4 class="subheading">Computer Sales</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I literally grew up selling computers! I sold personal and small business computers at two different computer stores all throughout high school and even on college breaks. </p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>