 {% for post in site.posts %}
    <div class="modal" id="portfolioModal{{ post.modal-id }}">
    <div>
        <div class="modal-content new-page">
            <div class="modal-header">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="../index.html">{{site.title}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a data-dismiss="modal" class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-dismiss="modal" href="#background">Background</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-dismiss="modal" href="#blog">Blog</a>
                    </li>
                    <li>
                    <li>
                        <a class="page-scroll" data-dismiss="modal" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-dismiss="modal" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-dismiss="modal" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.description }}</p>
                            {{ post.content }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
{% endfor %}


<!-- <li>
<a href="" onclick="$('#background').modal('hide')">click</a>
</li> -->