.lg {
  margin-bottom: 2%;
}

.return {
margin-left:22%;
margin-top:4%
}

.return a {
font:1.4vw 'Roboto Slab';
background:#2580b2;
color:#fff;
text-decoration:none;
padding:.15em .35em
}

 span.return a:hover {
color:#000
}

.list a span {
font-weight:700;
color:#007935
}

.list a:visited span {
font-weight:700;
color:#007935
}