/* ---------------------------------------- GENERAL BITS */

/** {
  border:1px solid red;
}*/

html {
background-image:url(../imgs/apostles-only.png);
}

.xlg {
font:2.35em 'Roboto Slab';
padding:1% 0;
font-weight:700;
line-height:1em;
color:#000
}

.lg {
font:2em 'Roboto Slab';
font-weight:700;
color:#000
}

.std {
font:1.8em 'Roboto Slab';
padding-bottom:.5em;
font-weight:500;
color:#000
}

.ind {
margin-left:1em
}

.bld {
font-weight:bold
}

.grn {
color:#007935
}

.btm {
padding-bottom:.75em
}

/* ---------------------------------------- MENU, LIGHTBOX & SOCIAL */

.lt-box {
width:55%;
background:hsla(100,100%,100%,10);
}

/* ---------------------------------------- IMAGE AND LINK BEHAVIOR */

.return {
margin-left:25%;
margin-top:4%
}

.return a {
border-radius: 10px;
font:1.4vw 'Roboto Slab';
background:#2580b2;
color:#fff;
text-decoration:none;
padding: .2em .35em .2em .35em;
}