/* ---------------------------------------- DIFFERENT IMAGE FOR HOME PAGE */

html {
background:url(../imgs/apostles-only.png) no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover
}