html {
background-image:url(../imgs/apostles.png);
background-repeat:no-repeat;
background-position:left;
background-attachment:fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover
}

.xxl {
font:7vw 'Roboto Slab';  /* or 6em */
color:#007935;
font-weight:700
}

.xlg {
font:2.35em 'Roboto Slab';
color: black;
font-weight:700;
line-height: 1em;
padding: .55em 00em;
}

.lg {
font:2em 'Roboto Slab';
font-weight:700;
padding: 0em 0em .5em;
}

.std span {
	font-weight:700;
}

.std {
font:1.8em 'Roboto Slab';
color:#000;
font-weight:500;
padding-bottom: .5em;
}

.list {
margin-top: .20em;
margin-bottom:.5em;
margin-left: 2em;
}

.hdln {
position: relative;
margin-left: 1.5em;
}

.menu {
position: fixed;
top: 5em;
margin-left:2em;
width:5.5em;
height:1em;
}

.lt-box {
position: relative;
margin-left: 10em;
width: 50%;
padding:0% 2% 2% 2%;
border-radius:20px;
/*overflow:scroll;*/
background:hsla(100,100%,100%,0.25);
-webkit-box-shadow:0 0 10px #fff;
-moz-box-shadow:0 0 10px #fff;
box-shadow:0 0 10px #fff
}

.social {
position: fixed;
/*float: left;*/
/*margin-top: -20%;*/
top: 15em;
margin-left: 2.75em;
width:3.5em;
height:1em;
}

a {
font:1em 'Roboto Slab';
color:#000;
line-height:2em;
text-decoration:none
}

a:visited {
font:1em 'Roboto Slab';
color:#007935;
text-decoration:none
}

img {
max-width:100%;
height:auto;
border-radius:20px
}

.menu a {
border-bottom:0 solid #393939;
color:#ccc;
display:block;
margin:0;
padding:4px;
text-decoration:none;
font:1.25em Helvetica;
color:#000;
font-weight:700
}

.menu a:hover {
background:#2580b2;
color:#fff;
padding-bottom:4px
}

.social a {
color:#ccc;
display:block;
padding:4px;
text-decoration:none;
font:1.25em Helvetica;
color:#000;
font-weight:700
}

.social a:hover {
background:#2580b2;
color:#fff;
padding-bottom:4px
}
