---
layout: blogpost
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom Snippet Highlighting
    <link rel="stylesheet" href="{{site.baseurl}}/css/snippets.min.css">
    <script src="{{site.baseurl}}/js/snippet-highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script> -->

    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

            <div class="modal-header">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/">{{site.title}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#background">Background</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#blog">Blog</a>
                    </li>
                    <li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <p>{{ page.description }}</p>
                            {{ content }}
                        </div>
                    </div>
            </div>
        </div>
</body>
